<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"><span style="color: red">*</span>{:__('Manage_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-manage_name" class="form-control" name="row[manage_name]" type="text" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Description')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-description" class="form-control" name="row[description]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-avatar" class="control-label col-xs-12 col-sm-2"><span style="color: red">*</span>{:__('Logo_img')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-avatar" data-rule="required" class="form-control" size="50" name="row[logo_img]" type="text" value="" readonly >
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-avatar" class="btn btn-danger plupload"   data-input-id="c-avatar" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-avatar"><i class="fa fa-upload"></i> 上传</button></span>
                    <span><button type="button" id="fachoose-avatar" class="btn btn-primary fachoose" data-input-id="c-avatar" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> 选择</button></span>
                </div>
                <span class="msg-box n-right" for="c-avatar"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-avatar"></ul>
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">营业状态:</label>
        <div class="col-xs-12 col-sm-8">
            {:Form::switcher('row[manage_status]', '1', ['color'=>'blue'])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('营业时间')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-manage_time" class="form-control " name="row[manage_time]" type="text">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('选择加盟位置')}:</label>
        <div class="col-xs-12 col-sm-8">
            <span data-toggle="addresspicker" data-lat-id="c-dimension" data-lng-id="c-longitude"><a href="javascript:;">点击选择</a></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"><span style="color: red">*</span>{:__('Longitude')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-longitude" class="form-control" name="row[longitude]" type="text"  required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"><span style="color: red">*</span>{:__('Dimension')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-dimension" class="form-control" name="row[dimension]" type="text"  required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"><span style="color: red">*</span>{:__('省市区')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class='control-relative'><input id="c-city" class="form-control" data-toggle="city-picker" name="row[city]" type="text"  required></div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Detail')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-detail" class="form-control" name="row[detail]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Manage_contacts')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-manage_contacts" class="form-control" name="row[manage_contacts]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Manage_tel')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-manage_tel" class="form-control" name="row[manage_tel]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Manage_notice')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-manage_notice" class="form-control" name="row[manage_notice]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Head_contacts')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-head_contacts" class="form-control" name="row[head_contacts]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Head_tel')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-head_tel" class="form-control" name="row[head_tel]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('状态：')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:Form::switcher('row[status]', '1', ['color'=>'green', 'disabled'=>true])}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
